.sidebarChats{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.sidebarChats:hover{
    background-color: #ebebeb;
    cursor: pointer;
}

.chat_info{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    
}

.chat_info > h3{
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat_info > h6{
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,.8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    line-height: 20px;
}